<div class="grid">
  <div class="container">
    
    <div class="row">
    <div class="header column full">header</div>
    </div>
    
    <div class="row">
      <div class="main column two-thirds">main
      </div>
      <div class="sidebar column third">sidebar</div>
    </div>
    
    <div class="row">
      <div class="featured-items column fourth"></div>
      <div class="featured-items column fourth"></div>
      <div class="featured-items column fourth"></div>
      <div class="featured-items column fourth"></div>
    </div>
    
    <div class="row">
      <div class="footer column full">footer</div>
    </div>
    
    <div class="row">
      <div class="column full">full</div>
    </div>

    <div class="row">
      <div class="column two-thirds">two-thirds</div>
      <div class="column third">third</div>
    </div>

    <div class="row">
      <div class="column half">half</div>
      <div class="column half">half</div>
    </div>

    <div class="row">
      <div class="column third">third</div>
      <div class="column third">third</div>
      <div class="column third">third</div>
    </div>

    <div class="row">
      <div class="column fourth">fourth</div>
      <div class="column fourth">fourth</div>
      <div class="column fourth">fourth</div>
      <div class="column fourth">fourth</div>
  </div>
    
  </div>
</div>